.container {
    background-color: #F6F6E9;
    width: 80%;
    /*STOPS DIV FROM GROWING ONCE IT REACHES 500px*/
    max-width: 500px;
    padding: 30px 35px;
    text-align: center;
}

.container-child {
    margin: 25px;
}

/*HEADER AREA*/

header a {
    color: #005792;
}

/*FORM AREA*/

.form-item {
    text-align: left;
    margin: 10px 0;
}

.form-item label {
    color: #005792;
}

.form-item select,
input {
    width: 100%;
    /*TOP (8px) RIGHT BOTTOM (4px) LEFT*/
    margin: .5em 0 .25em 0;
    padding: .25em;
    background-color: #ebebe4;
    border: 1px solid #ebebe4;
    font-weight: 300;
}

/* BUTTON */

.btn {
    text-align: right;
}

.btn button {
    padding: .5em 2em;
    background-color: #FD5F00;
    border: none;
    color: #F6F6E9;
    cursor: pointer;
}

/* FOOTER AREA */

footer {
    padding-top: 2em;
}

footer a{
    color: #FD5F00;
}

/* MEDIA QUERIES */

@media (max-width:600px) {

    .container-child {
        margin: 25px 0;
    }

}


